<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet" />
    <link href="{{asset "css/flexslider.css"}}" rel="stylesheet" />

    <link href="{{asset "css/font-awesome.min.css"}}" rel="stylesheet" />
    <link href="{{asset "css/designr-theme-cyan.css"}}" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="200">
    <!-- ==============================================
    MAIN NAV data-spy="scroll" data-target="#main-nav" data-offset="200"
    =============================================== -->
    <div id="main-nav" class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <!-- ======= LOGO ========-->
                <a class="navbar-brand scrollto" href="#home">
                    <!--<span id="logo-min"><img alt="Arquiteto Móvel"  src="{{asset "img/0-82x82.png"}}" /></span>-->
                    <!--<span id="logo-big">-->
                        <!--<img alt="Arquiteto Móvel"  src="{{asset "img/1-300x82.png"}}" />-->
                    <!--</span>-->
                    <img style="margin-left: 10px;" alt="Arquiteto Móvel"  src="{{asset "img/1-300x82.png"}}" />
                    <!--<span id="logo-text" style="margin-left: 12px; margin-top: 5px;">-->
                        <!--ARQUITETO MÓVEL-->
                    <!--</span>-->
                </a>
                <!-- <a class="navbar-brand scrollto ir-logo" href="#">JOHN DOE<br><span>UI Designer</span></a> -->

            </div>
            <!--<div id="social">
                
                <a>
                    <i class="glyphicon icon-google-plus"></i>
                </a>
            </div>-->
            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="font-family: Geogtq-Logo; font-size: 34px;">
                    <li><a href="/">INICIAR</a></li>
                    <li><a href="/tag/-net">.NET</a></li>
                    <li><a href="/tag/-tecnologia">TECNOLOGIA</a></li>
                    <li>
                        <a href="https://twitter.com/ArquitetoMovel" target="_blank">
                            <i class="glyphicon icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ArquitetoMovel" target="_blank">
                            <i class="glyphicon icon-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div><!--End navbar-collapse -->
        </div><!--End container -->

    </div><!--End main-nav -->
    <!-- ============================================== HEADER =============================================== -->
    <header id="home" class="arqtop"></header><!--End header -->
    {{! Everything else gets inserted here }}
    {{{body}}}
    <section id="twitter">
    <div class="container">
        <div class="row scrollimation fade-in">
            <div class="col-sm-1 twitter-icon">
                <i class="icon-twitter"></i>
            </div>
            <!-- 345690956013633536 -->
            <div class="col-sm-11">
                <div id="twitter-slider" class="flexslider" data-widget-id="" data-tweets-length="5">
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</section><!-- End Twitter section -->
    <!-- ============================================== FOOTER =============================================== -->
    <footer id="main-footer">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 left-col">
                    <h1 class="small-logo">
                        <a href="#home">Arquiteto Móvel</a><br />
                    </h1>
                    <ul class="footer-nav">
                        <li style="line-height:32px; border:0;">
                            <a class="tw" style="font-size: 24px;" target="_blank" href="https://twitter.com/ArquitetoMovel">
                                <span><i class="glyphicon icon-twitter"></i></span>
                            </a>
                        </li>
                        <li style="line-height:32px; border:0;">
                            <a style="font-size: 24px;">
                                <span><i class="glyphicon icon-google-plus"></i></span>
                            </a>
                        </li>
                        <li style="line-height:32px; border:0;">
                            <a style="font-size: 24px;">
                                <span><i class="glyphicon icon-linkedin"></i></span>
                            </a>
                        </li>
                         <li style="line-height:32px; border:0;">
                            <a href="{{@blog.url}}/rss/" style="font-size: 24px;">
                                <span><i class="glyphicon icon-rss"></i></span>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="footer-nav">
                        @{
                            foreach (var navItem in navItems)
                            {
                                <li>@navItem</li>
                            }
                        }
                    </ul> -->
                    <p>&copy;Copyright 2014 / All Rights Reserved</p>
                </div>

                <div class="col-sm-6 right-col">
                    <h2 style="font-family:  Geogtq-Lg;">O Projeto</h2>
                    <p>Conectando tecnologias com mobilidade para voc&ecirc;</p>
                </div>

            </div><!-- End row -->

        </div><!-- End container -->
 <section class="copyright" style="text-align:center">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby" style="text-align:center">Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
    </footer><!-- End footer -->

<!--     <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
            
        </div>
    </footer> -->

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <!--<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{asset "js/jquery.scrollto.js"}}"></script>        
<script src="{{asset "js/jquery.flexslider.js"}}"></script>
<script src="{{asset "js/jquery.masonry.js"}}"></script> 

<script src="{{asset "js/waypoints.js"}}"></script>          
<script src="{{asset "js/jquery.easypiechart.js"}}"></script>
<script src="{{asset "js/jquery.backstretch.js"}}"></script>
<script src="{{asset "js/modernizr-2.6.2.js"}}"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{asset "js/respond.min.js"}}"></script>
<script src="{{asset "js/twitterFetcher_v10_min.js"}}"></script>
<script src="{{asset "js/contact.js"}}"></script>
<script src="{{asset "js/design.js"}}"></script>
</body>
</html>
